[Unit]
Description=McMyAdmin

[Service]
WorkingDirectory={{ mcmyadmin_install_dir }}
User=minecraft

ExecStart=/usr/bin/screen -DmS mc-mcma ./MCMA2_Linux_x86_64

ExecStop=/usr/bin/screen -p 0 -S mc-mcma -X eval 'stuff "/quit"\\015'
ExecStop=/bin/sleep 10

[Install]
WantedBy=multi-user.target